:root {
    --nav-background-color: #D3D3D3;
    --nav-text-color: black;
}

body {
    font-family: Raleway, sans-serif;
    }
    
h1, h2, h3, h4, h5 {
    font-family: Sorts Mill Goudy, serif;
}

header {
    height: 160px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 20% 1fr 1fr;
    grid-template-rows: 100px 60px;
    align-items: center;
    grid-template-areas:
    "left logo logo logo right"
    "left-nav nav nav nav right-nav";
}

#logo-link {
    grid-area: logo;
    height: 100px;
    justify-self: center;
}

#logo-pic {
    height: 100%;
    margin: 0 auto;
}

#left-fill {
    grid-area: left;
    height: 100%;
    width: 100%;
}

#right-fill {
    grid-area: right;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

nav {
    background-color: var(--nav-background-color);
    grid-area: nav;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


button {
    border: none;
    cursor: pointer;
}

.nav-btn {
    background-color: var(--nav-background-color);
    font-size: large;
    color: var(--nav-text-color);
    height: 60px;
    width: 200px;
}

#active {
    opacity: 100%;
    border-bottom: 2px solid var(--nav-text-color);
    margin-top: 2px;
    height: 58px;
}

.nav-btn:hover {
    opacity: 50%;
}

.brush-btn:hover {
    opacity: 100%;
}

.dropdown-btn {
    background-color: var(--nav-background-color);
    font-size: large;
    color: var(--nav-text-color);
    height: 40px;
    width: 170px;
    padding-left: 15px;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 170px;
    left: 15px;
}

#dropdown:hover #dropdown-content {
    display: block;
    background-color: var(--nav-background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

.dropdown-btn:first-child{
    border-top: 1px solid #333;
}

.dropdown-btn:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}

.dropdown-btn:hover{
    opacity: 50%;
}

#left-nav {
    grid-area: left-nav;
    background-color: var(--nav-background-color);
    height: 60px;
    width: 100%;
}

#right-nav {
    grid-area: right-nav;
    background-color: var(--nav-background-color);
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#right-nav input[type=text] {
    border: none;
    height: 25px;
    width: 200px;
    font-size: 16px;
    padding: 6px;
    border: none;
    background-color: transparent;
    color: var(--nav-text-color);
    border-bottom: 2px solid var(--nav-text-color);
}

#right-nav input[type=text]:focus {
    outline: none;
}

#search-icon {
    height: 25px;
}

#shopping-bag {
    grid-area: 3 / 4 / 4 / 5;
    width: 35px;
}

#shopping-bag:hover {
    cursor: pointer;
}

button a {
    color: var(--nav-text-color);
    text-decoration: none;
}