#container {
    display: flex;
    width: 89%;
    height: 250px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#grid-despription h1 {
    text-align: center;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-grid {
    padding: 0 20px 20px;
}