.container {
  
        width: 100vw;
        height: 100vh;
        margin: 20px auto;
        display: grid;
        background-color: blueviolet;
      
        grid-template-columns: repeat(3, 1fr); /* 1fr 1fr */
/*         grid-template-rows: 30;
        row-gap: 30px;
        column-gap: 40px;  */
      }

.h2 { 
        font-family: "Sorts Mill Goudy"; 
        font-size: 16px; font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 15.4px; 
    }
.h3 { 
    font-family: "Sorts Mill Goudy"; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
}
.p {
font-family: Raleway; 
font-size: 4px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
line-height: 20px;  

}

.container-left {

    background-color: aquamarine;

}

.container-middle {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

    background-color: rgb(35, 37, 37);

}

.search-icon {
    height: 25px;
}
.gs-10productimage {
    width: 60%;
    height: 40%;
  
}
.btn {
    padding: 10px 60px;
    border-radius: 20px;
    font: rgb(252, 251, 251)
    font-family: "Sorts Mill Goudy"; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
}

.container-right {
display: flex;
/* align-items: center; */
flex-direction: column; 
justify-content: center;
    background-color: rgb(99, 17, 88);

}
.box1 {
    border: solid 1px;
    background-color: rgb(22, 146, 53);
    width: 90%;
    height: 25%;
  margin-top: 10%;
  margin-bottom: 5%;
  box-sizing: border-box;
  padding: 10px;

}

.box2 {
border: solid 1px;
    background-color: rgb(180, 139, 175);
    width: 90%;
    height: 25%;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 10px;

 
}
.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    background-color: rgb(173, 145, 16);
    width: 90%;
    height: 25%;
    margin-bottom: 5%

   
}

.box4 {
    display: flex;
    border: solid 1px;
    background-color: rgb(191, 186, 224);
    width: 90%;
    height: 25%;
    margin-bottom: 20%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* justify-content: center; */
 
    

}
/* .howtotakecareofyourbrush {
    width: 30%;
    height: 50%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    
   
  
  
} */

