@import "header-style.css";
@import "footer-style.css";
body {
    font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Sorts Mill Goudy, serif;
}




.container {
  
        width: 100vw;
        height: 100vh;
        margin: 20px auto;
        display: grid;
       /*  background-color: blueviolet; */
      
        grid-template-columns: repeat(3, 1fr); /* 1fr 1fr */
/*         grid-template-rows: 30;
        row-gap: 30px;
        column-gap: 40px;  */
      }

/* .h2 { 
        font-family: "Sorts Mill Goudy"; 
        font-size: 16px; font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 15.4px; 
    }
.h3 { 
    font-family: "Sorts Mill Goudy"; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
}
.p {
font-family: Raleway; 
font-size: 4px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
line-height: 20px;  

} */

#container-left {
display: grid;
    height: 600px;
    width: 300px;
   /*  border: solid 2px; */
    margin-left: 100px;
    margin-top: 60px; 
   /*  background-color: aquamarine;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px); 
  /*  grid-column: 1/7; */
    row-gap: 10px;
   column-gap: 17px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px; 


}


.container-middle {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  

}


.gs-10productimage {
    display: flex;
    width: 60%;
    height: 40%;
  
}
.btn {
    display: flex;
    padding: 10px 60px;
    border-radius: 20px;
   color: white;
    background-color: rgb(190, 188, 188);
    border: none;
    
  

}
.btn:hover  {
    opacity: 0.5;
    background-color: maroon;
 

}
.container-right {
display: flex;
/* align-items: center; */
flex-direction: column; 
justify-content: center;
  /*   background-color: rgb(99, 17, 88); */

}
.box1 {
  /*   display: flex; */
   /*  border: solid 2px; */
    /* background-color: rgb(22, 146, 53); */
    width: 90%;
    height: 25%;
  margin-top: 10%;
  margin-bottom: 5%;
  box-sizing: border-box;
  padding: 10px;
  

}

.box2 {
   
    width: 90%;
    height: 25%;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 2px;

 
}
.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 2px; */
   /*  background-color: rgb(173, 145, 16); */
  box-sizing: border-box;
    width: 90%;
    height: 25%;
    margin-bottom: 5%;
    border: solid 1px gray;
    padding: 0 10px;
    
   
}


.box4 {
    display: flex;
    border: solid 1px gray;
   /*  background-color: rgb(191, 186, 224); */
    width: 90%;
    height: 25%;
    margin-bottom: 20%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    /* justify-content: center; */
 
    

}

