body {
font-family: Raleway, sans-serif;
margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: Sorts Mill Goudy, serif;
}

main {
    width: 80%;
    margin: 0 auto;
}

form {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin: 0 auto;
}

main div {
display: flex;
flex-flow: column;
}

.top-text {
    width: 100%;
    text-align: center;
}

#ask-us {
    margin-top: 40px;
}

#send-us {
    margin-bottom: 20px;
}

.short-box {
    max-width: 300px;
    min-width: 100px;
    flex-basis: 45%;
}

.text-field {
    border: 1px solid #333;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
}

#question-box {
    max-width: 900px;
    min-width: 100px;
    flex-basis: 100%;
}

#question-field {
    border: 1px solid #333;
    resize: none;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: rgb(231, 229, 229);
    width: 80px;
    height: 30px;
    font-size: medium;
    border: 1px solid #333;
    margin: 0 auto;
}