body {
    font-family: Raleway, sans-serif;
    }
    
h1, h2, h3, h4, h5 {
    font-family: Sorts Mill Goudy, serif;
}

header {
    /* border: 1px solid #333; */
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 100px 60px;
    align-items: center;
    grid-template-areas:
    "left logo right"
    "nav nav nav"
}

#logo-link {
    grid-area: logo;
    height: 100px;
    /* width: 100%; */
    justify-self: center;
}

#logo-pic {
    height: 100%;
    /* width: 100%; */
    margin: 0 auto;
}

#left-fill {
    grid-area: left;
    height: 100%;
    width: 100%;
}

#right-fill {
    grid-area: right;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

nav {
    background-color: lightgray;
    grid-area: nav;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
}

.nav-btn {
    background-color: lightgray;
    font-size: large;
    color: rgb(87, 18, 14);
    height: 60px;
    width: 200px;
}

.nav-btn:hover {
    opacity: 50%;
}

.dropdown-btn {
    background-color: lightgray;
    font-size: large;
    color: rgb(87, 18, 14);
    height: 40px;
    width: 170px;
    padding-left: 15px;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 170px;
    left: 15px;
}

#dropdown:hover #dropdown-content {
    display: block;
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

.dropdown-btn:first-child{
    border-top: 1px solid #333;
}

.dropdown-btn:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}

.dropdown-btn:hover{
    opacity: 50%;
}

#shopping-bag {
    content: url('https://api.iconify.design/ant-design/shopping-outlined.svg?height=50');
    grid-area: 2 / 4 / 3 / 5;
    width: 40px;
}

#shopping-bag:hover {
    cursor: pointer;
}

a {
    color: rgb(87, 18, 14);
    text-decoration: none;
}

a:active {
    color: red;
}