body {
    font-family: Raleway, sans-serif;
    }
    
h1, h2, h3, h4, h5 {
    font-family: Sorts Mill Goudy, serif;
}

header {
    /* border: 1px solid #333; */
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 100px 60px;
    align-items: center;
    grid-template-areas:
    "left logo right"
    "nav nav nav"
}

#logo-link {
    grid-area: logo;
    height: 100px;
    width: 100%;
    justify-self: center;
}

#logo-pic {
    height: 100%;
    width: 100%;
}

#left-fill {
    grid-area: left;
    height: 100%;
    width: 100%;
}

#right-fill {
    grid-area: right;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

nav {
    background-color: rgb(87, 18, 14);
    grid-area: nav;
    display: flex;
    border: 1px solid #333;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(87, 18, 14);
    color: white;
    height: 60px;
    width: 200px;
    border: none;
    cursor: pointer;
}

#nav-btn:hover {
    opacity: 50%;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

#dropdown:hover #dropdown-content {
    display: block;
    background-color: rgb(87, 18, 14);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#dropdown-btn:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#dropdown-btn:hover{
    opacity: 50%;
}

.black {
    background-color: black;
    height: 500px;
    width: 500px;
}

.cart {
    border: 1px solid gray;
    height: 50px;
    width: 50px;
}

#shopping-bag {
    content: url('https://api.iconify.design/ant-design/shopping-outlined.svg?height=50');
    grid-area: 2 / 4 / 3 / 5;
}